<div class="page-header text-center">
              <h1>  Welcome </h1>
            </div>
            <div class="page-content fade-in-up" >
                <div class="row" >
                    <div class="col-lg-6">
                        <div class="ibox">
                            <div class="ibox-body">
                                <app-product></app-product>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
               
                <!-- <div class="row"> -->
                     <div class="col-lg-6">
                    <div class="ibox">
                            <div class="ibox-body">
                                <app-supplier-add></app-supplier-add>
                            </div>
                        </div>
                    </div>
                </div>
               <!--   <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-body">
                               <app-supplier-search></app-supplier-search>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                     <div class="col-lg-12">
                   <div class="ibox">
                            <div class="ibox-body" style="font-size: 13px">
                                <app-indent></app-indent>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  <div class="row">
                     <div class="col-lg-12">
                   <div class="ibox">
                            <div class="ibox-body">
                                <app-indent-list></app-indent-list>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox">
                            <div class="ibox-body">
                                    <app-department></app-department>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <div class="col-lg-6">
                        <div class="ibox">
                            <div class="ibox-body">
                                <app-department-list></app-department-list>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="ibox">
                            <div class="ibox-body" style="font-size: 13px">
                             <app-requisition></app-requisition>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- <div class="row">
                    <div class="col-lg-12">
                      <div class="ibox">
                            <div class="ibox-body">
                             <app-requisition-list></app-requisition-list>
                            </div>
                        </div>
                    </div>
                    
                </div> -->
                
                        
                        
                         
                         
                    </div>
               